<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ProductListController</servlet-name>
        <servlet-class>controllers.ProductListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountLoginController</servlet-name>
        <servlet-class>controllers.AccountLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>controllers.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountSignupController</servlet-name>
        <servlet-class>controllers.AccountSignupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProfile</servlet-name>
        <servlet-class>controllers.EditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controllers.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductManager</servlet-name>
        <servlet-class>controllers.ProductManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CRUDController</servlet-name>
        <servlet-class>controllers.CRUDController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartAction</servlet-name>
        <servlet-class>controllers.CartAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrder</servlet-name>
        <servlet-class>controllers.CancelOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderManager</servlet-name>
        <servlet-class>controllers.OrderManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>controllers.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>controllers.DashboardController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductListController</servlet-name>
        <url-pattern>/product-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountLoginController</servlet-name>
        <url-pattern>/account/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/account/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountSignupController</servlet-name>
        <url-pattern>/account/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProfile</servlet-name>
        <url-pattern>/account/editProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/account/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductManager</servlet-name>
        <url-pattern>/product/manage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRUDController</servlet-name>
        <url-pattern>/product/crud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartAction</servlet-name>
        <url-pattern>/account/cart-action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrder</servlet-name>
        <url-pattern>/account/cancel-order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderManager</servlet-name>
        <url-pattern>/order/manage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/account/forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>401</error-code>
        <location>/401Page.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/404Page.jsp</location>
    </error-page>
</web-app>
